<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu class='max-w-[10rem]' content-id="main-content" *ngIf='layout === "sidenav"'>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class='font-bold'>GOOD BODY</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button>
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>수강생 관리</ion-label>
            </ion-item>
            <ion-item button>
              <ion-icon slot="start" name="barbell-outline"></ion-icon>
              <ion-label>수업 관리</ion-label>
            </ion-item>
            <ion-item button>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>직원 관리</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>

  </ion-split-pane>
</ion-app>